<div class="login-container wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center p-3">
                <a href="#">
                    <img class="block-center rounded login-logo" src="assets/img/brand/logo-mgb.png" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <button class="btn btn-block btn-primary mt-3" (click)="login()">Login</button>

            </div>
        </div>
        <!-- END card-->
        <div class="p-2 text-center">
            <span>&copy;</span>
            <span>{{ settingsService.app.name }}</span>
            <br/>
            <span>{{ settingsService.app.year }}</span>
        </div>
    </div>
</div>